# Created by https://www.toptal.com/developers/gitignore/api/ansible,packer
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible,packer

### Ansible ###
*.retry

### Packer ###
# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

### Packer Patch ###
# ignore temporary output files
output-*/

# End of https://www.toptal.com/developers/gitignore/api/ansible,packer

gce_googlecompute.pem
